<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Products</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
      <!-- nabar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="row justify-content-between">
                <div class="col-2">
                      <a href="/admin/home"><button class="btn btn-success">Home</button></a>
                </div>

                <div class="col-2">
                      <h3 class=" text-dark">Products </h3>    
                </div>
                  
                <div class="col-2">
                    <div class="row justify-content-end">
                        <a href="/admin/logout"style="width: 2rem;"><button class="btn btn-danger">Logout</button></a>
                    </div>
                </div>

        </div>
    </div>
</nav>

<!-- navbar end  -->
<div class="container">
    <table class="table text-center border">
      <thead>
        <tr>
            <th scope="col-4">SI</th>
          <th scope="col-4">Product Name</th>
          <th scope="col-4">Price</th>
          <th scope="col-4">Product Descritpion</th>
          <th scope="col-4">Block Product</th>
          <th scope="col-4">Delete Product</th>
          
        </tr>
      </thead>
      <tbody>
        {{range .}}
        <tr>
            <td >{{.ID}}</td>
            <td >{{.ProductName}}</td>
            <td scope="row">{{.Price}}</td>
            <td scope="row">{{.Description}}</td>
            <td><a href="/admin/editdProduct/{{.PID}}" class="btn bg-warning" style="width: 130px;">Edit</a></td>
            {{if .StockIn}}
            <td><a href="/admin/products/block/{{.PID}}" class="btn btn-danger" style="width: 130px;">Block</a></td>
            {{else}}
            <td><a href="/admin/products/unblock/{{.PID}}" class="btn btn-success" style="width: 130px;">Unblock</a></td>
            {{end}}

            <td><a href="/admin/products/delete/{{.PID}}" class="btn btn-danger" style="width: 130px;">Delete</a></td>
        </tr>
        {{end}}
      </tbody>
    </table>    
  </div>

  <div class="container mt-5">
    <h3  class="text-center">Add product</h3>
  <table class="table text-center border">
      <thead>
        <tr>
          <th scope="col-4">Product Name</th>
          <th scope="col-4">Price</th>
          <th scope="col-4">Product description</th>
          
        </tr>
      </thead>
      <tbody>
          <form class="row justify-content-center g-3 needs-validation" method="post" action="/admin/addProduct/product"  novalidate>
        <tr>
          <td><input type="text" name="pname" class="form-control" id="validationCustom01" required> </td>
          <td><input type="text" name="price" class="form-control" id="validationCustom01"required></td>
          <td><input type="text" name="descritption" class="form-control" id="validationCustom01"required></td>
        </tr>
        <th scope="col-2"></th>
        <th scope="col-2" ><button class="btn btn-primary" type="submit">Add Product</button></th>
        <th scope="col-2"></th>
      </form>
      </tbody>
    </table>  
  </div>
</body>
</html>



