<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
   <!-- Section: Design Block -->
<section class="text-center text-lg-start " style="background-color: rgb(0, 38, 56); height: 100vh;">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4 w-75" style="background-color: rgba(0, 40, 58, 0.469);">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 85%, 0.816);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Sign up now</h2>
              {{if .Alert}}
              <h4 class="text-danger">{{.Alert}}</h4>
              {{end}}
              <form action="/signup" method="post" novalidate>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    
                    <div class="form-outline">
                      <input type="text" name="fname" id="form3Example1" class="form-control" />
                      {{if .FirstName}}
                      <p style="color: rgb(154, 0, 0); font-size: medium;">{{.FirstName}}</p>
                      {{else}}
                      <label class="form-label" for="form3Example1">First name</label>
                      {{end}}
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                   
                    <div class="form-outline">
                      <input type="text" name="lname" id="form3Example2" class="form-control" />
                      {{if .LastName}}
                      <p style="color: rgb(154, 0, 0); font-size: medium;">{{.LastName}} </p>
                      {{else}}
                      <label class="form-label" for="form3Example2">Last name</label>
                      {{end}}
                    </div>
                  </div>
                </div>
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" name="email" id="form3Example3" class="form-control" />
                  {{if .Email}}
                  <p style="color: rgb(154, 0, 0);">{{.Email}}</p>
                  {{else}}
                  <label class="form-label" for="form3Example3">Email address</label>
                  {{end}}
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" name="password" id="form3Example4" class="form-control" />
                  {{if .Password}}
                    <p style="color: rgb(154, 0, 0);">{{.Password}}</p>
                    {{else}}
                    <label class="form-label" for="form3Example4">Password</label>
                    {{end}}
                </div>
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Sign up
                </button>
  
                <!-- Register buttons -->
                <div class="text-center">
                  <p>have an account <a class="text-primary" href="/"> Sign in</a></p>
                 
                </div>
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" style="width: 32rem;" class=" rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
</body>
</html>